---
---

$primary: #E45635;
$secondary: #267090;
$tertiary: #88D030;

$header-background-color: #F5F5F3;
$header-text-color: #5A5A5A;
$header-heading-color: $header-text-color;

$content-background-color: $primary;
$content-text-color: #fff;

$footer-height: 125px;
$footer-background-color: $secondary;
$footer-border-color: #3f819d;

$border-color: #cfd1c4;

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: $content-background-color;
  color: $content-text-color;
}

#container{
  min-height: 100%;
  position: relative;
}

header{
  &.hero{
    &:after {
      content:'';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-top: solid 50px $header-background-color;
      border-left: solid 50px transparent;
      border-right: solid 50px transparent;
    }
    background-color: $header-background-color;
    color: $header-text-color;
    padding: 20px 0;
    font-size: 18px;
    position: relative;
  }

  h1{
    font-size: 45px;
    font-weight: 800;
    color: $header-heading-color;
  }

  .img-profile{
    padding: 1px;
    border: 5px solid $border-color;
  }
}

#body{
  h2{
    font-family: 'Lobster', cursive;
    font-size: 40px;
  }

  padding-top: 50px;
  padding-bottom: $footer-height + 50;
  font-size: 16px;
  line-height: 26px;
}

footer{
  a{
    color: #fff !important;
  }
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-background-color;
  border-top: 1px solid #3f819d;
  padding-top: 25px;
}

.contact-list i{
  font-size: 50px;
}
