<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Beth Spencewood</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:600italic,800,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  </head>
  <body>
    <div id="container">
      <header class="hero">
        <div class="container">
          <div class="row">
            <div class="visible-xs-block text-center">
              <h1>Beth Spencewood</h1>
            </div>
            <div class="col-xs-5 col-sm-3 col-md-offset-1 col-lg-2">
              <img src="img/beth.png" class="img-circle img-responsive img-profile">
            </div>
            <div class="col-xs-7 col-sm-9 col-md-7">
              <h1 class="hidden-xs">Beth Spencewood</h1>
              <p class="text-muted">Traveller, writer, additional short bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <i class="fa fa-map-marker"></i> Minneapolis, MN
            </div>
          </div>
        </div>
      </header>
      <div id="body" class="container">
      {{content}}
      </div>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <ul class="list-inline contact-list">
                <li>
                  <a href="#"><i class="fa fa-envelope-square"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin-square"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter-square"></i></a>
                </li>
              </ul>
              Copyright &copy; {{ site.time | date: '%Y' }} Beth Spencewood
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
